* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;

}

.container {
    max-width: 1280px;
    margin: auto;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 50px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1;
}

header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a,
header.rolagem i {
    color: #000;
}

header i {
    font-size: 30px;
    color: #c59f46;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.btn-contato {
    position: relative;
}

.dropdown-btn {
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #c59f46;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.dropdown-btn:hover {
    background-color: #c59f46;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #c59f46;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}


.dropdown-content a:hover {
    background-color: #c59f46;
}



.banner {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Alinha os elementos em coluna (verticalmente) */
    justify-content: center;
    /* Centraliza os elementos verticalmente */
    align-items: center;
    /* Centraliza os elementos horizontalmente */
    text-align: center;
    /* Garante que o texto seja centralizado */
    z-index: 0;
}
section {
    transform: translateY(-100px);
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.title {
    font-family: 'Playfair Display';
    color: #c59f46;
    font-size: 6em;
    z-index: 2;
    font-weight: 250;
}
.banner p {
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 1.9em;
    z-index: 2;
    font-style: italic;

}

/*Barra de pesquisa*/
.filtro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.filtro-item {
    margin-bottom: 15px;
    width: 100%;
}

.filtro-item label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.filtro-item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-pesquisar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #c59f46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}












/* Estilos para os imóveis */
.imoveis {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.imoveis-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imovel {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.imovel h2 {
    font-size: 1.5em;
    color: #c59f46;
}

.imovel p {
    font-size: 1.2em;
    color: #333;
}



/* Estilos do filtro */
.filtro-box {
    display: flex;
    flex-direction: initial;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.filtro-item {
    margin-bottom: 15px;
    width: 100%;
}

.filtro-item label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.filtro-item select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-pesquisar {
    width: 100%;
    padding: 15 5px;
    font-size: 16px;
    background-color: #c59f46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pesquisar:hover {
    background-color: #a38038;
}




/* Filtro de pesquisa */
.filtro-pesquisa {
    margin-top: -300px; /* Ajusta a distância para que o filtro de pesquisa fique abaixo da navbar */
    padding: 20px;
}

