* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;

}

.container {
    max-width: 1280px;
    margin: auto;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 50px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1;
}

header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a,
header.rolagem i {
    color: #000;
}

header i {
    font-size: 30px;
    color: #c59f46;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.btn-contato {
    position: relative;
}

.dropdown-btn {
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #c59f46;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.dropdown-btn:hover {
    background-color: #c59f46;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #c59f46;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}


.dropdown-content a:hover {
    background-color: #c59f46;
}



.banner {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Alinha os elementos em coluna (verticalmente) */
    justify-content: center;
    /* Centraliza os elementos verticalmente */
    align-items: center;
    /* Centraliza os elementos horizontalmente */
    text-align: center;
    /* Garante que o texto seja centralizado */
    z-index: 0;
}
section {
    transform: translateY(-100px);
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.title {
    font-family: 'Playfair Display';
    color: #c59f46;
    font-size: 6em;
    z-index: 2;
    font-weight: 250;
}
.banner p {
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 1.9em;
    z-index: 2;
    font-style: italic;

}

/*Barra de pesquisa*/
.buscar-box{
width: 80px;
height: 80px;
background-color: transparent;
overflow: hidden;
display: flex;
justify-content: space-between;
position: relative;
transition: .5s;
border-radius: 20px;
}
/*Estilização da função js*/
.buscar-box.ativar {
    width: 400px;
}
.buscar-box .lupa-buscar, .buscar-box .btn-fechar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .lupa-buscar i {
    font-size: 20px;
    color: #c59f46;
}
.buscar-box .btn-fechar{
    font-size: 20px;
    margin-left: 15px;
    color: #c59f46;
}

.buscar-box .input-buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
    color: #c59f46;
    
}

.buscar-box .input-buscar input {
    border: 0;
    outline: 0;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
}

::placeholder {
    color: #ffffff73;
}


/*Principais Visitas*/
.caixa-p_visitas{
    transform: translateY(-200px);
}
.principais-visitas {
    text-align: start; /* Centraliza o texto dentro da div */
    margin: 20px; /* Espaço ao redor da div */
}

.principais-visitas h1 {
    font-size: 2em; /* Tamanho da fonte do título */
    color: #333; /* Cor do título */
}

.principais-visitas p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    color: #666; /* Cor do texto */
    margin-top: 10px; /* Espaçamento entre o título e o parágrafo */
}

/* Container principal */
.tabelas {
    display: flex;
    width: 100%;
    height: 50vh; /* Altura total das tabelas */
    gap: 10px; /* Espaço entre tabelas */
    transform: translateY(-90px);
    
}

/* Configuração geral para tabelas */
.tabelas {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    text-align: center;      /* Center text inside the section */
}

.tbl {
    background-color: #000;
    display: flex;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra a célula sem distorções */
    display: block;
}

/* Tabela 1 */
.tbl-1 {
    height: 500px;
    width: 500px;
    margin-left: 20px; /* Espaço à esquerda */
}

/* Contêiner para tabelas 2 e 3 */
.tbl2-3  {
    height: 400px;
    width: 370px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    
}

/* Tabela 4 */
.tbl-4 {
    height: 500px;
    width: 400px;
    margin-right: 20px; /* Espaço à direita */
}


